.second {
  height: 80vh;
  width:  100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.id-card {
  width: 50vw;
  height: 50vh;  
  border: 1px solid #66ff00;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 1em;
  box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0;
  display: flex;
  border-radius: 30px;
}
.beterrys{
  width: 48vw;
  height: 49vh;  
  border-radius: 30px;
  animation: charges 10s infinite;
  animation-delay: 5s;
  position: absolute;
  z-index: 1;
 background-color: black;


}
@keyframes charges{
  0%{
    width: 0vw;
    background: #1072a5;
    background: -webkit-linear-gradient(45deg, #1072a5 0%, #2baa16 100%);
    background: linear-gradient(45deg, #1072a5 0%, #2baa16 100%);    
  }

  100%{
    width: 48vw;
    background: #1072a5;
    background: -webkit-linear-gradient(45deg, #1072a5 0%, #2baa16 100%);
    background: linear-gradient(45deg, #1072a5 0%, #2baa16 100%);  
  }
}

.gunjunjee{
  width: 2vw;
  height: 15vh;
  border-radius: 15px;
  border: 1px solid #66ff00;
  box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0;
}


.profile {
  display: flex;
}
.dp {
  position: relative;
  margin-left: 180px;
  align-self: center;
  left:-80px;
  z-index: 2;


}
.desc {
  padding: 1em;
  font-family: 'Orbitron', sans-serif;
  color: #ecfcfb;
  text-shadow: 0px 0px 4px #12a0a0;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.desc>p{
  font-size: 20px;
}

.my{
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 4px 3px #e9eee6;
}

.dp-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #fdad00;
  border-radius: 50%;
  top: -6px;
  left: -6px;
  animation:rotate-clock 2s linear infinite;
}
@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dp-outer {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 8px solid transparent;
  border-bottom-color: #01ffff;
  border-radius: 50%;
  top: -16px;
  left: -16px;
  animation:rotate-anticlock 2s linear infinite;

}

.profile{
  width: 48vw;
  height: 49vh;
}
@keyframes rotate-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width:500px) {
  .profile{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc>h1:nth-child(2){
    font-size: 0.8rem;
  }
  .gunjunjee{
    display: none;
  }
  .desc>p:nth-child(5){
    font-size: 1rem;
  }
}