.third{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vw;
  height: 100vh;
}
.smc{
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  color:  #ecfcfb;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 10px 10px #12a0a0;

}
.smc>div>span{
  margin:10px;
}

.s-m-c{
  width: 100vw;
  height: 20vh;
  font-size: 1.5rem;
  font-weight: bold;
  color:  #ecfcfb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 10px 10px #12a0a0;


  }

  .s-m-c>div{
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.uhoh{
  width: 100vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.arrow {
  width: 5vw;
  height: 5vw;
  color: #ecfcfb;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:20px;
  cursor: pointer;
}

.arrowtwo {
  width: 5vw;
  height: 5vw;
  font-size: 3rem;
  color: #ecfcfb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left:20px;
}

.slider{
  width: 25vw;
  height:35vh;
  overflow: hidden;
  position: relative;


}

.slides{
  width: 125vw;
  border: 1px white;
  display: flex;
  position:absolute;
  left: 0px;
  top: 0px;
  transition: 0.5s ease-out;
}


.slides>li{
  width: 25vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides>li>img{
  width: 22vw;
  height: 30vh;
}
@media (max-width:1300px) {
  
}
@media (max-width:1000px) {
  .s-m-c>h1{
    font-size: 2rem;
  }

  .s-m-c{
    flex-direction: column;
  }

.slider{
  height:20vh;
}

.slides{
  height: 20vh;
}


.slides>li{
  height: 20vh;
}

.slides>li>img{
  height: 20vh;
}

.uhoh{
  height: 30vh;
}

.arrow{
  font-size: 3rem;
}
.arrowtwo{
  font-size: 3rem;
}

.third{
  height: 80vh;
  background-size: 100vw;
}
}

@media (max-width:500px) {
  .s-m-c>h1{
    font-size: 2rem;
  }

  .s-m-c{
    flex-direction: column;
  }

  
.slider{
  height:10vh;


}

.slides{
  height: 10vh;
}


.slides>li{
  height: 10vh;
}

.slides>li>img{
  height: 10vh;
}

.uhoh{
  height: 20vh;
}

.arrow{
  font-size: 2rem;
}
.arrowtwo{
  font-size: 2rem;
}

.third{
  height: 65vh;
}
}
