.cards>div{
  animation:kaiten 3s infinite;
}

.cards>div:hover{
  animation-play-state: paused;
}

@keyframes kaiten {
  0%{
    transform: rotate3d(0,1,0,60deg);
  }
  100%{
    transform: rotate3d(0,1,0,360deg);
  }
}
