.roottwo{
  width: 100vw;
  height: 500vh;
  display: none;
}

.first{
  width: 100vw;
  height: 100vh;
  background-image: url('/image/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
