.fifth{
  width: 100vw;
  height: 80vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.borders{
  display:flex;
  justify-content: center;
}

.alwaytxt{
  width: 70vw;
  height: 25vh;
  border-bottom: 5px solid black;
  color: #ecfcfb;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:  bordercr 5s infinite;
}
@keyframes bordercr {
  0%{
    border-bottom: 5px solid #85C420;

  }
  60%{
    border-bottom: 5px solid red;

  }
  100%{
    border-bottom: 5px solid orange;

  }
}

.dura{
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dura>div:nth-child(1){
  width: 73vw;
  height: 10vh;
  z-index: 2;
  margin-top: 30px;
}
.dura>div:nth-child(1)>h1{
  font-size: 2rem;
  color: #ecfcfb;
  text-align: center;
  margin: 10px;
}

.dura>div:nth-child(2){
  width: 27vw;
  height: 28vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.dura>div:nth-child(2)>img{
  width: 18vw;
  height: 16vh;
  position: absolute;
  z-index: 1;
  animation: duraa 5s infinite;
}

@keyframes duraa {
  to{
    left:80vw;
  }
  from{
    left:0vw;
  }
}
@media (max-width:1300px) {
  .alwaytxt{
    font-size: 2.5rem;
    height: 20vh;
  }
  .dura>div:nth-child(1)>h1{
    font-size: 1.8rem;
    color: #ecfcfb;
    text-align: center;
    margin: 10px;
  }
}

@media (max-width:1000px) {
  .alwaytxt{
    font-size: 2rem;
    height: 20vh;
  }
  .dura>div:nth-child(1)>h1{
    font-size: 1.5rem;
    color: #ecfcfb;
    text-align: center;
    margin: 10px;
  }
}
@media (max-width:500px) {
  .alwaytxt{
    font-size: 1.5rem;
    text-align: center;
    height: 20vh;
  }
  .dura>div:nth-child(1)>h1{
    font-size: 1rem;
    color: #ecfcfb;
    text-align: center;
    margin: 10px;
  }
}