.fifth{
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.alwaytxt{
  width: 70vw;
  height: 25vh;
  border-bottom: 5px solid black;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 260px;
  animation:  bordercr 5s infinite;
}
@keyframes bordercr {
  0%{
    border-bottom: 5px solid #85C420;

  }
  60%{
    border-bottom: 5px solid red;

  }
  100%{
    border-bottom: 5px solid orange;

  }
}

.dura{
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: flex-end;
}

.dura>div:nth-child(1){
  width: 50vw;
  height: 28vh;
  z-index: 2;
}

.dura>div:nth-child(1)>div{
  width: 50vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.dura>div:nth-child(2){
  width: 27vw;
  height: 28vh;
  display: flex;
  align-items: center;
}
.dura>div:nth-child(2)>img{
  width: 18vw;
  height: 16vh;
  position: absolute;
  z-index: 1;
  animation: duraa 5s infinite;
}


.energi{
  width: 100vw;
  height: 47vh;
  display: flex;
  align-items: flex-end;
}

.energiimg{
  width: 30vw;
  height: 48vh;
}

.energiimg>img{
  width: 30vw;
  height: 47vh;
}

.kakaos{
  width: 10vw;
  height: 25vh;
  margin-left: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 20px;

}
.github{
  width: 10vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
}


.kakaos>div:nth-child(1){
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-image: url(/image/카카오톡.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  cursor: pointer;

}
.github>div:nth-child(1){
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-image: url(/image/깃허브.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  cursor: pointer;


}